*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.navbar {
  display: flex;
  padding: 0 10%;
  background-color: pink;

  a {
    padding: 2.5rem;
    color: #0d1137;
    text-decoration: none;

    &:hover {
      background-color: #0d1137;
      color: white;
    }
  }
}

.market {
  padding-top: 3rem;

  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: gray;
  }
}

.products {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0 4.5rem 1.5rem 4.5rem;
  gap: 1.6rem;

  img {
    width: 100%;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    letter-spacing: 0.1rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 500;
    }

    button {
      padding: 0.7rem 1rem;
      background-color: transparent;
      cursor: pointer;
      border: 1px solid gray;
      border-radius: 0.5rem;

      &:hover {
        background-color: rgba(184, 184, 184, 0.24);
      }
    }
  }
}
